

// Main theme changes
$color-brand: #11791e;
$color-link: #111111;
$color-accent: #2d2d2d;

$button-text-color: #f7f7f7;


@import 'node_modules/vanilla-framework/scss/build';

/* no pesky blue border on buttons */
button:focus {
  outline:none !important;
}

.header {
  background-image: url("/static/images/aubergine.png");
}

.header-slim {
  background-color: #2d2d2d;
  color: #ffffff;
}

.header-slim h1 {
  font-size: large;
  font-weight: 300;
}

.p-navigation__logo img {
  height: 30px;
}

#footer {
  margin: 2em 0;
  padding-top: 2em;
  border-top: 1px solid #cccccc;
}

.footer p {
  font-size: 16px;
}

.p-footer__link {
  margin-right: 1rem;
  position: relative;
  color: #111;
}

.p-footer__link:visited {
  color: #111;
}

.p-footer__links {
  margin: 0;
  padding: 0;
}

.p-footer__item {
  font-size: 16px;
  display: inline-block;
}

.p-footer__link:after {
  content: "\00b7";
  display: inline-block;
  font-size: 1.5rem;
  position: absolute;
  right: -.75rem;
}

.p-footer__item:last-child a:after {
  opacity: 0;
}

.p-navigation a, .p-navigation a:focus, .p-navigation a:hover, .p-navigation a:visited, .p-navigation .p-navigation__link>a {
  color: #f7f7f7 !important;
  font-size: 16px;
  /*text-decoration: none;*/
}

fieldset :disabled {
  background-color: #f7f7f7;
}

table th.small, table td.small {
  width: 20%;
}

table th.xsmall, table td.xsmall {
  width: 10%;
}

/* LED */
.container {
  background-size: cover;
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 20px;
}

.led-green {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 1px 0px, inset #304701 0 0px 9px, #89FF00 0 1px 5px;
}

.led-yellow {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 1px 0px, inset #808002 0 0px 9px, #FF0 0 1px 5px;
}

.led-red {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 1px 0px, inset #441313 0 0px 9px, #F00 0 1px 5px;
}
