/* Add CSS customizations */

/*
.header-slim {
    background-color: rgb(255,136,0) !important;
}

form#lang-form {
    background-color: rgb(255,136,0) !important;
}

section.p-strip--image {
    background-image: url('/static/custom/banner.png');
    color: rgb(255,136,0) !important;
}
*/