@charset 'UTF-8';

// import settings

// import custom mixins

// import cookie policy
// @import "cookie-policy/build/css/cookie-policy";

$color-brand: #5C80BC;
$color-link: #005573;

// import vanilla-framework
@import 'vanilla-framework/scss/build';

// import site specific patterns and overrides

.p-navigation .row {
  display: flex;
  width: 100%;
}

.p-navigation__logo {
  background: #e95420;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
