<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubuntu Core Configuration</title>

    <link rel="stylesheet" href="/static/css/styles.css" />

    <script src="/static/js/dist/base.js" defer></script>

    <meta name="description" content="Configuration application for Ubuntu Core.">
    <meta name="copydoc" content="https://drive.google.com/drive/folders/1q9ia7iDuWQlCaJ7nfKVeQ5G-FPyJbP-H">

    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/fdc99abe-ico_16px.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/0f3c662c-ico_32px.png" sizes="32x32" />
    <link rel="author" href="/humans.txt" />
</head>
<body>

{{ template "header" }}
{{ template "content" .}}

</body>
</html>